<head>
  <meta charset="UTF-8">
  <title>Travel Blog</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Travel Blog
    </h1>
  </header>
  {{!-- navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"></a><i class="fas fa-route" style="font-size:50px; color:black"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="/api/blog">Blogs</a>
      {{#if loggedIn}}
       <a class="nav-item nav-link" href="/profile">Profile</a>
       {{/if}}
    </div>
  </div>
</nav>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>
   <nav>
      {{#if loggedIn}}
     <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <button id="loginBtn"><a href="/login">Login</a></button>
      {{/if}}
      </nav>

  {{!-- if logged on, will display logout option --}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>