
{{#if loggedIn}}
<div>
  <p class="blog-text"> Welcome to your own profile page!  Feel free to share any additional blogs for others to see.  Happy blogging! </p>
</div>



{{else}}

<div>
  <p>Please set up an account in order to have a profile and add blog posts.</p>
</div>
{{/if}}
<div>
   <img src="/images/journal-travel.jpg" id="journal-travel"/></a>
<div>