<h2>{{user.username}}</h2>

<div>
   <img src="/images/journal-travel.jpg" id="journal-travel"/></a>
  <div>
    <p>User information: </p>
    <ul>
      <li> ID: {{user.id}} </li>
      <li> username: {{user.username}}</li>
      <li> email: {{user.email}}</li>
    </ul>
  </div>

</div>