@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* importing fonts from google fonts */

body {
  font-family: "Playfair Display", serif !important;
}

h1 {
  font-size: 200px;
  display: flex;
  position: relative;
  text-align: center;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}
