@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* importing fonts from google fonts */

body {
  font-family: "Playfair Display", serif !important;
}

h1 {
  font-size: 200px;
  display: flex;
  position: relative;
  text-align: center;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}

#home-title {
  font-size: 65px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px;
}

#van-travel {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.blog-text {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  position: relative;
  text-align: center;
}

#home-p {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

#blog-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

#journal-travel {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
